listening-ip=0.0.0.0
relay-ip=0.0.0.0
external-ip=${TURN_PUBLIC_IP}
listening-port=3478
tls-listening-port=443
min-port=49160
max-port=49200

realm=${TURN_REALM}
server-name=${TURN_HOSTNAME}
fingerprint
use-auth-secret
static-auth-secret=${TURN_REST_SECRET}

cert=${TURN_TLS_CERTIFICATE}
pkey=${TURN_TLS_PRIVATE_KEY}
no-tlsv1
no-tlsv1_1

stale-nonce=600
no-cli
no-loopback-peers
no-multicast-peers
total-quota=1200
user-quota=12
max-bps=1000000

log-file=stdout
no-stdout-log=false
log-binding
